<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Venue Booking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center mt-5">
                            
            <div class="col-lg-6">
                    <div class="text-center"><img src="/assets/images/venue.png" style="width: 200px;margin-bottom: 20px;"></div>
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Admin Login - Venue Booking!</h4>
                    </div>
                    
                    <form class="" method="POST" action="/admin/login">
                        <div class="text-center">
                            <p class="text-danger" id="error-container" style="display: none;">Error container.</p>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" type="text" placeholder="Enter Email" name="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" type="password" id="password" placeholder="Enter Password" name="password">
                        </div>

                       
                        <div class="form-group text-center">
                            <button class="btn btn-primary text-white btn-user col-sm-4 col-md-4 col-lg-4" type="submit">Login</button>
                        </div>
                        
                    </form>
                    
            </div>

        </div>
    </div>
    <script src="/assets/js/asyncer.js?v=1"></script>
</body>

</html>